main{
    display: flex;
    flex-direction: column;
    }
#historyBar{
    font-size: 1.5rem;
    width: 95%;
    border: solid 1px black;
    margin: 10px;
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    border-radius: 1rem;
    flex-wrap: wrap;
}
.historyLink{
    padding: 10px;
    border-radius: 1rem;
}

.historyLink:hover{
    color: white;
    background-color: #6572f7;
}

.historyLink:focus{
    color: white;
    background-color: #6572f7;
}